.post-container {
    isolation: isolate;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    background-color: var(--background-color);
    .post-info{
        padding: 15px;
    }
    .post-image{
        z-index: -1;
		align-items: center;
		padding-left: 13rem;
    }
    // .author-img{
    //     height: 60px;
    //     width: 60px;
    //     border-radius: 50%;
    //     border: 3px solid var(--background-light);
    //     box-shadow: 0 1px 3px var(--shadow-color);
    //     margin-top: -50px;
    //     z-index: 2;
    // }
    .post-title{
        font-size: 1.25em;
        font-weight: bold;
		align-items: center;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em;
    }
    .post-author{
        color: var(--text-light);
        font-size: .9em;
        letter-spacing: 1px
    }
}
