.form {
  text-align: center;
  background-color: var(--background-light);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 3px;
  padding: 10px;
  margin: 10px;
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
}

.error {
  box-shadow: black;
}

.label {
  display: block;
  font-size: larger;
  color: black;
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
}
.btn {
  color: black;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  background-color: red;
  color: white;
  width: auto;
  height: 50px;
  padding: 5px;
}

.form-success {
  color: #2b7515;
  background: #ecffd6;
  border: 1px solid #617c42;
}

.form-error {
  color: #1d4e89;
  background: #4da4b9;
  border: 1px solid #3b82d8;
}
